@model CheeseMVC.ViewModels.ViewMenuViewModel

@{ 
    ViewBag.Title = "Menu Name";
}
<ul>
    @foreach(var item in Model.Items)
    {
        <li>@item.Cheese.Name</li>
    }
</ul>
<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id=@Model.Menu.ID>Add Item</a></p>